.recip-cards {
  margin-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.card {
  width: 270px;
  height: 420px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.card:hover {
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  border-radius: 5px;
}

h3 {
  margin-top: -10px;
  font-size: 18px;
  font-weight: 700;
  width: 250px;
}

p {
  font-size: 14px;
  color: #999999;
}

.rec-info2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 270px;
  height: 35px;
  background: #f3f3f3;
}

.rec-info2 a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  color: #000000;
  font-size: 14px;
  padding: 0 10px;
}

.btn-view {
  font-size: 14px;
  font-weight: 500;
  text-decoration: none;
  text-transform: uppercase;
  color: #ff4a52;
  background: none;
  border: 1px solid #ff4a52;
  border-radius: 3px;
  padding: 10px 20px;
}

.btn-view:hover {
  color: #ffffff;
  background-color: #ff4a52;
  padding: 10px 20px;
  -webkit-transition-duration: 0.4s;
       -o-transition-duration: 0.4s;
          transition-duration: 0.4s;
}

.sort {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 173px;
  height: 246px;
  background: #ffffff;
  border: 1px solid #eeeeee;
  border-radius: 3px;
}

.sort h3 {
  margin: 10px;
}

.sort hr {
  margin: 0 10px;
}

.sort-list {
  margin: 20px 0;
}

.sort-list ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 170px;
  margin: 0 10px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.sort-list ul li {
  list-style: none;
}

.sort-list ul li a {
  text-decoration: none;
  color: #999999;
  font-size: 14px;
  font-weight: 400;
}

.sort-list ul li a:hover {
  color: #ff4a52;
  font-weight: 500;
  border-left: 2px solid #ff4a52;
  padding: 5px 10px;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  cursor: pointer;
}

/*ARTICLES*/

.article-list {
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.article {
  width: 500px;
  height: 450px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: left;
}

.article:hover {
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  border-radius: 5px;
}

.tag-blog {
  margin-left: 10px;
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
  color: #ff4a52;
}

.title-blog {
  margin-left: 10px;
  font-size: 18px;
  font-weight: 700;
  width: 395px;
}

.text-blog {
  margin-left: 10px;
  font-size: 14px;
  color: #999999;
  width: 500px;
}

.article img {
  border-radius: 5px;
  -o-object-fit: cover;
     object-fit: cover;
}

.btn-read {
  margin-left: 10px;
  font-size: 14px;
  font-weight: 500;
  text-decoration: none;
  text-transform: uppercase;
  color: #ff4a52;
  background: none;
  padding: 10px 20px;
  border: 1px solid #ff4a52;
  border-radius: 3px;
}

.btn-read:hover {
  color: #ffffff;
  background-color: #ff4a52;
  padding: 10px 20px;
  -webkit-transition-duration: 0.4s;
       -o-transition-duration: 0.4s;
          transition-duration: 0.4s;
}

.blog-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 500px;
  height: 35px;
  background: #f3f3f3;
}

.blog-info a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  color: #000000;
  font-size: 14px;
  padding: 0 10px;
}