.container {
  width: 1043px;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/*SLIDER*/
.slider {
  position: relative;
  width: 1043px;
  height: 330px;
  margin-left: 20px;
  border-radius: 5px;
}

.slider .slick-arrow {
  font-size: 0;
}

.slick-list {
  overflow: hidden;
}

.slick-track {
  display: flex;
  align-items: flex-start;
}

/*DOTS*/
.slider .slick-dots {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: -10px;
}

.slider .slick-dots li {
  list-style: none;
  margin: 0 10px;
}

.slider .slick-dots button {
  font-size: 0;
  width: 15px;
  height: 5px;
  background-color: #999999;
}

.slider .slick-dots li.slick-active button {
  background-color: #ff4a52;
}

.slider img {
  border-radius: 5px;
  object-fit: cover;
}

.slide-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.slide-descr {
  display: flex;
  flex-direction: column;
  position: absolute;
  align-items: center;
  justify-content: center;
  width: 650px;
  height: 200px;
  background-color: #0e0e0e9c;
}

.tag {
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
  color: #ff4a52;
}

h1 {
  text-align: center;
  width: 579px;
  font-weight: 700;
  font-size: 27px;
  line-height: 34px;
  color: #ffffff;
}

.rec-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 240px;
  height: 30px;
}

.rec-info a {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: #ffffff;
  font-size: 14px;
}

.icon {
  margin-right: 5px;
}

.recipes {
  margin-left: 20px;
  margin-top: 70px;
}

h2 {
  font-weight: 500;
  font-size: 22px;
  line-height: 34px;
}
