header {
  width: 227px;
  height: 100%;
  position: fixed;
  z-index: 1;
  overflow-x: hidden;
  background: #26282b;
  /* float: left; */
}

#nav-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.logo {
  margin: 20px 0 0 50px;
}

#nav-bar .sidenav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  height: 250px;
  margin-left: 50px;
  list-style: none;
  margin-top: 50px;
}

#nav-bar .sidenav ul .nav-link a {
  font-size: 16px;
  text-decoration: none;
  color: #ffffff;
  font-weight: 400;
}

#nav-bar .sidenav ul .nav-link a:hover {
  color: #ff4a52;
  font-weight: 500;
  border-left: 2px solid #ff4a52;
  padding: 5px 10px;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  cursor: pointer;
}

.btn-add {
  background-color: #ff4a52; /* Green */
  border-radius: 3px;
  color: white;
  padding: 10px 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
}

.btn-add:hover {
  background: none;
  color: #ff4a52;
  font-weight: 500;
  -webkit-transition-duration: 0.4s;
  -o-transition-duration: 0.4s;
  transition-duration: 0.4s;
  border: 1px solid #ff4a52;
}
